@page
@model RazorPageWebApp.Pages.UserScreen.HomePageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    @*My group*@
    <div class="album py-3 bg-light">
        <div class="container">
            @*tieu de*@
            <div class="row">
                <span class="d-flex align-self-start fs-3 fw-bold mb-1 text-dark">My Group</span>
                <a asp-page="/UserScreen/MyGroup" class="mb-3"><small>View more</small></a>
            </div>
            @*list item*@
            <div class="row row-cols-2 row-cols-md-4 g-3">
                @foreach (var item in Model.OwnGroup) {
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title">@item.Name</h4>
                                <span class="text-black-50 align-self-center" style="font-size:0.75em">@item.CreationDate.ToLongDateString()</span>
                                @if (String.IsNullOrEmpty(item.Description)) {
                                    <p class="card-text mt-2 text-black-50">(No Description)</p>
                                } else {
                                    <p class="card-text mt-2">@item.Description</p>
                                }
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Members: @item.NumOfMember</small>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Created by: @Model.UnitOfWork.AccountRepository.GetByIdAsync(item.AccountCreatedID.Value).Result.Username</small>
                                    <div class="btn-group">
                                        <a asp-page="/Groups/Details" asp-route-id="@item.Id"
                                           class="btn btn-sm btn-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @*Public group *@
    <div class="album py-3 bg-light">
        <div class="container">
            @*tieu de*@
            <div class="row">
                <span class="d-flex align-self-start fs-3 fw-bold mb-1 text-dark">Community</span>
                <a asp-page="/UserScreen/Community" class="mb-3"><small>View more</small></a>
            </div>
            @*list item*@
            <div class="row row-cols-2 row-cols-md-4 g-3">
                @foreach (var item in Model.CommunityGroup) {
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title">@item.Name</h4>
                                <span class="text-black-50 align-self-center" style="font-size:0.75em">@item.CreationDate.ToLongDateString()</span>
                                @if (String.IsNullOrEmpty(item.Description)) {
                                    <p class="card-text mt-2 text-black-50">(No Description)</p>
                                } else {
                                    <p class="card-text mt-2">@item.Description</p>
                                }
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Members: @item.NumOfMember</small>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Created by: @Model.UnitOfWork.AccountRepository.GetByIdAsync(item.AccountCreatedID.Value).Result.Username</small>
                                    <div class="btn-group">
                                        <a asp-page="/Groups/Details" asp-route-id="@item.Id"
                                           class="btn btn-sm btn-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>