@page
@model RazorPageWebApp.Pages.Groups.AdminGroupSettingModel
@{
    #region template license
    //=========================================================
    //Material Dashboard 2 - v3.0.0
    //=========================================================

    //Product Page: https://www.creative-tim.com/product/material-dashboard
    //Copyright 2021 Creative Tim (https://www.creative-tim.com)
    //Licensed under MIT (https://www.creative-tim.com/license)

    //Coded by Creative Tim

    //=========================================================

    //The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    #endregion

    ViewData["Title"] = "Admin Group Setting";
    Layout = "_LayoutUser";
}
@inject IHttpContextAccessor httpContext
@{
    var username = httpContext.HttpContext?.Session?.GetString(AppConstants.USER_NAME);
}
<head>
    @*Add Template relative links*@
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    @*End Add Template relative links*@
</head>
<!-- Left side bar -->
<div class="row d-flex justify-content-center">
    <div class="col-3 position-relative sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 bg-gradient-dark ">
        <!-- Sidenav Header -->
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white end-0 top-0 d-none d-xl-none" aria-hidden="true"></i>
            <a class="navbar-brand m-0" asp-page="/Groups/Details" asp-route-id="@Model.GroupObj.Id">
                <img src="~/assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">@Model.GroupObj.Name</span>
            </a>
        </div>
        <!-- End Sidenav Header -->
        <hr class="horizontal light mt-0 mb-2">
        <!-- Sidenav Main -->
        <div class="collapse navbar-collapse w-auto max-height-vh-100 ps">
            <ul class="navbar-nav">
                <!-- Dashboard Item -->
                <li class="nav-item">
                    <a asp-page="/Groups/AdminGroupSetting" asp-route-id="@Model.GroupObj.Id" class="nav-link text-white">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                <!-- End Dashboard Item -->
                <!-- All Posts Item -->
                <li class="nav-item">
                    <a asp-page="/Groups/AllPosts" asp-route-groupId="@Model.GroupObj.Id" class="nav-link text-white ">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">receipt_long</i>
                        </div>
                        <span class="nav-link-text ms-1">All Posts</span>
                    </a>
                </li>
                <!-- End All Posts Item -->
                <!-- Notification Item -->
                <li class="nav-item">
                    <a class="nav-link text-white " href="#">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">notifications</i>
                        </div>
                        <span class="nav-link-text ms-1">Notifications</span>
                    </a>
                </li>
                <!-- End Notification Item -->
                <!-- Members Item -->
                <li class="nav-item">
                    <a class="nav-link text-white ">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Members</span>
                    </a>
                </li>
                <!-- End Members Item -->


            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
        <!-- End Sidenav Main -->

        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    </div>
    <!-- End Left Sidebar-->
    <!-- Right Part-->
    <div class="col-9 main-content position-relative max-height-vh-100 my-3 ps ps--active-y ps--scrolling-y">
        <div class="container-fluid">
            <!-- Header Background -->
            <div class="page-header min-height-300 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask  bg-gradient-primary  opacity-6"></span>
            </div>
            <!-- End Header Background -->
            <!-- Main Part -->
            <div class="card card-body mx-3 mx-md-4 mt-n6">
                <!-- Title Info -->
                <div class="row gx-4 mb-2">

                    <!-- Group Title -->
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">@Model.GroupObj.Name</h5>
                            <p class="mb-0 font-weight-normal text-sm">@Model.GroupObj.Description</p>
                        </div>
                    </div>
                    <!-- End Group Title -->
                    <!-- Configuration bar -->
                    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="material-icons text-lg position-relative">settings</i>
                                <span class="ms-1">Settings</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-page="/Groups/Edit" asp-route-id="@Model.GroupObj.Id" class="dropdown-item">Edit Group</a></li>
                                <li><a class="dropdown-item">Change Visibility</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger">Remove Group</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Configuration bar -->
                </div>
                <!-- End Title Info -->
                <!-- Detail Info -->
                <div class="row">
                    <div class="row">
                        <p><b>Creation date: </b> @Model.GroupObj.CreationDate</p>
                        <p><b>Creation by: </b>@username</p>
                        <p><b>Visibility: </b>@Model.GroupObj.Visibility</p>
                        <p><b>Total members: </b>@Model.GroupObj.NumOfMember</p>
                    </div>
                </div>
                <!-- End Detail Info -->
            </div>
            <!-- End Main Part -->
        </div>
        <!-- End Right Part -->
    </div>
</div>
<!--   Core JS Files   -->
<script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Github buttons -->
<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/assets/js/material-dashboard.min.js?v=3.0.0"></script>

