@page
@model RazorPageWebApp.Pages.Groups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Visibility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Visibility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.ForceApprove)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.ForceApprove)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.ApproveAuthority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.ApproveAuthority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.BanAuthority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.BanAuthority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.AccountCreatedID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.AccountCreatedID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.ModificationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.ModificationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.DeletedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.DeletedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Group?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
