@page "/groups/{groupId:guid}/edit/{postId:guid}"
@using Microsoft.AspNetCore.Html;
@model RazorPageWebApp.Pages.Groups.Posts.EditPostModel
@{
}

<section class="row">
    @*<div class="col-lg-3 border border-dark rounded">
        <div class="card-img p-2 d-flex justify-content-center">
            <img class=" w-50 rounded-circle border border-2 border-dark" src="@Model.User.Avatar" />
        </div>
    </div>*@
    <div class="col-lg-6 d-flex m-auto">
            <form class="col" method="post">
                <div>
                    <label class="form-label fw-bold" asp-for="Topic"></label>
                    <input class="form-control" asp-for="Topic" />
                    <span class="text-danger" asp-validation-for="@Model.Topic"></span>
                </div>
                <div>
                    <label class="form-label fw-bold" asp-for="@Model.Content"></label>
                    <textarea name="Content" id="edit-post">@(new HtmlString(@Model.Content))</textarea>
                    <span class="text-danger" asp-validation-for="@Model.Content"></span>
                </div>
                <button class="btn-primary btn">Save</button>
            </form>

        </div>
</section>
@section Scripts
    {
    <script>
        tinymce.init({
            selector: '#edit-post',
            icons: 'small',
            min_height: 300,
            max_height: 1000,
            toolbar_location: 'bottom',
            plugins: 'lists code table codesample link autoresize',
            toolbar: 'blocks | bold italic underline strikethrough bullist link codesample',
            resize: true,
            menubar: false,
            statusbar: false
        });
    </script>
}