@page "/groups/{groupId:guid}/view/{postId:guid}"
@using Microsoft.AspNetCore.Html;
@model RazorPageWebApp.Pages.Posts.IndexModel
@{
    if (ViewData["OnlyData"] != null)
        Layout = null;
}
<article class="container-fluid">
    <section class="row ">
        <div class="col-lg-3 d-none d-lg-block border border-dark rounded">
            <div class="card-img p-2 d-flex justify-content-center">
                <img class=" w-50 rounded-circle border border-2 border-dark" src="https://picsum.photos/200/200" />
            </div>
        </div>
        <div class="col-lg-9 col-auto border border-dark rounded" style="border-left-width:0px">
            <div class="dropdown ms-auto d-flex">
                <button class="btn btn-light ms-auto py-0" type="button" id="drop-down-post-options" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drop-down-post-options">
                    <li><a class="dropdown-item" href="../edit/@Model.Post?.Id">Edit</a></li>
                </ul>
            </div>
            <div class="w-100 p-2">
                <div class="w-100 view-post">@Html.Raw(Model.Content)</div>
            </div>
        </div>
    </section>
    @Model.HttpContext.Request.RouteValues["postId"]
    <section class="row ">
        <form id="comment-form" onsubmit="return AddComment(this)" style="display:none" asp-page-handler="Comment">
            <input asp-for="Comment.PostId" value="@Model.HttpContext.Request.RouteValues["postId"]" />
        </form>

        <textarea class="col-12 p-0 border border-1" id="comment-box" asp-for="Comment.Content" form="comment-form" placeholder="Write some comments"></textarea>
        <button class="btn btn-primary" form="comment-form">Submit</button>

        <div class="comment-group col-lg-12 gap-2 p-0 row ">
            @foreach (var comment in Model.Post.Comments)
            {
                <div class="comment-container col-lg-10 border border-secondary ">
                    <div class="comment-user-group d-flex ">
                        <div class="col-1">
                            <img src="data:image/png;base64,@comment.AccountCreated.Avatar"
                                 class="img-fluid rounded-circle border" alt="@comment.AccountCreated.Avatar" />
                        </div>
                        <div class="d-flex flex-column">
                            <div class="fw-bold">
                                <a asp-page="/account/profile">@comment.AccountCreated.Username</a>
                            </div>
                            <div class="text-black-50">
                                <a asp-page="/account/profile">@comment.AccountCreated.Email</a>
                            </div>
                        </div>
                        <aside class="d-flex ms-auto text-black-50">@comment.ModificationDate</aside>
                    </div>
                    <div class="comment-item border w-100 p-2">
                        <div>@Html.Raw(comment.Content)</div>
                    </div>
                    <div class="comment-action-container d-flex gap-2">
                        <a class="link-secondary c-pointer">@*@comment.LikeCount*@ 10 Like</a>
                        <a class="link-secondary c-pointer" data-bs-toggle="collapse" data-bs-target="#comment-r-@comment.Id">@comment.ReplyComments.Count Reply</a>
                    </div>
                </div>
                <article class="comment-create-reply collapse ms-auto col-10" id="comment-r-@comment.Id">
                    <form method="post" onsubmit="return replyComment(this)">
                        <input name="repId" value="@comment.Id"/>
                        <label>Reply</label>
                        <textarea class="comment-create-reply-text"></textarea>
                    </form>
                </article>
                @foreach (var reply in comment.ReplyComments)
                {

                }
            }
        </div>

    </section>
</article>
@section Scripts
    {
    <script>
        tinymce.init({
            selector: '#comment-box',
            min_height: 300,
            max_height: 1000,
            skin: 'oxide',
            toolbar_location: 'bottom',
            plugins: 'lists code table codesample link autoresize',
            toolbar: 'blocks | bold italic underline strikethrough bullist link codesample',
            resize: true,
            menubar: false,
            statusbar: false,
            submit_patch: true,
            content_css: '/tinymce.css'
        });
        tinymce.init({
            selector: '.comment-create-reply-text',
            min_height: 300,
            max_height: 1000,
            skin: 'oxide',
            toolbar_location: 'bottom',
            plugins: 'lists code table codesample link autoresize',
            toolbar: 'blocks | bold italic underline strikethrough bullist link codesample',
            resize: true,
            menubar: false,
            statusbar: false,
            submit_patch: true,
            content_css: '/tinymce.css'
        });
    </script>
    <script>
        function AddComment(form) {
            console.log(form);
            tinymce.triggerSave();
            var url = new URL(location);
            url.searchParams.append('handler', "Comment");
            $.ajax({
                url: url,
                data: keyValueArrayToObject($(form).serializeArray()),
                method: 'Post',
                success: (res) => {
                    console.log(res);

                },
                error: (e) => {
                    console.log(e.status);
                }
            })
            return false;
        }
        function replyComment(form) {
            tinymce.triggerSave(); 
            var url = new URL(location);
            url.searchParams.append('handler', "Reply");
            $.ajax({
                url: url,
                data: keyValueArrayToObject($(form).serializeArray()),
                method: 'Post',
                success: (res) => {
                    console.log(res);

                },
                error: (e) => {
                    console.log(e.status);
                }
            })
        }
    </script>
}